body {
    background-color: #F4F4F9;
    font-family: Poppins, sans-serif;
}

main {
    padding-bottom: 180px;
}

.flex {
    display: flex;
}
/* --- Header de la page d'accueil --- */
.page-header {
    position: relative;
    color: #F9780D;
}

.top-header {
    position: relative;
    z-index: 20; /* Assure que le header reste au-dessus du menu */
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 2px solid #F9780D;
}

.navbar-logo {
    height: 70px;
}


/* ------------------------------------- */
/* --- Styles de la navigation MOBILE --- */
/* ------------------------------------- */

.header-right-menu {
    position: relative;
}

.menu-burger {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
}

.burger-icon {
    width: 100%;
}

/* Menu overlay plein écran */
.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* prend toute la hauteur de l’écran */
    background-color: rgba(30, 30, 30, 0.97);
    transform: translateY(-100%); /* caché au-dessus */
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}

.navbar-links.active {
    transform: translateY(0); /* devient visible */
}

/* Liens du menu */
.navbar-links .nav-link {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-links .nav-link:hover {
    color: #F9780D;
    transform: scale(1.1);
}

/* Animation d’apparition */
.navbar-links.active .nav-link {
    animation: fadeSlideIn 0.5s ease forwards;
}

@keyframes fadeSlideIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Boutons dans le menu burger */
.btn-login,
.btn-register,
.btn-logout {
    display: inline-block;
    padding: 12px 25px;
    margin: 15px 0;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 200px;
}

/* Styles pour la croix de fermeture */
.close-menu {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 2.5rem;
    color: #F9780D;
}

/* Connexion : bouton sobre */
.btn-login {
    background-color: transparent;
    border: 2px solid #F9780D;
    color: #F9780D;
}

.btn-register {
    background-color: #F9780D;
    color: #fff;
    border: 2px solid #F9780D;
}

.btn-logout {
    background-color: #E74C3C;
    color: #fff;
    border: 2px solid #E74C3C;
}

.navbar-links .nav-link.admin-link {
    color: #FFD700;
    font-weight: bold;
}
.navbar-links .nav-link.create-event-link {
    color: #F9780D;
    font-weight: bold;
}

.navbar-links-desktop {
    display: none;
}

.navbar-links .logout-link {
    background-color: #E74C3C;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    display: block;
    width: fit-content;
    margin: 15px auto 0;
    transition: background-color 0.3s ease;
}

/* --- Barre de recherche --- */
.bottom-header {
    background-image: url('/Images/search-event.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; /* Organise le contenu en colonne */
    justify-content: center; /* Centre la barre de recherche verticalement */
    align-items: center; /* Centre la barre de recherche horizontalement */
    min-height: 174px; /* Hauteur minimale de 174px */
}

/* Le reste du code CSS de la section reste le même */

.search-bar-container {
    position: relative;
    width: 350px;
    font-size: 0.75rem;
}

.search-input {
    width: 100%;
    padding: 10px;
    /* padding-right: 110px; */
    border-radius: 24px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 0.75rem;
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 1.5rem;
    border-radius: 0 25px 25px 0;
    border: none;
    background-color: #F9780D;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* --- Section des événements --- */
.section-title {
    color: #333333;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
}

.events-count {
    background-color: #F28C38;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 6px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 20px 15px 20px 10px;
}

.events-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.event-card {
    background-color: #FFFFFF;
    border-radius: 12px;
    /* overflow: hidden; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* margin: 12px; */
    border: 2px solid #F9780D;
    width: 360px;
}

.event-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.event-title-bar {
    background-color: #F28C38;
    padding: 4px;
}

.event-details {
    padding: 8px 10px;
    flex-direction: column;
    justify-content: center;
}

.event-title {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.event-info {
    color: #333333;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.event-date {
    margin-bottom: 4px;
}

.event-location {
    margin-bottom: 0px;
}

.event-card-link {
    text-decoration: none;
    color: inherit; /* Pour que la couleur du texte reste la même */
}

/* Vous pouvez aussi ajouter un effet de survol pour l'esthétique */
.event-card-link:hover .event-card {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Styles pour la pagination KnpPaginator */
/* Container */
.pagination {
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
}

/* Liens et span */
.pagination a,
.pagination span {
    display: block;
    padding: 8px 12px;
    color: #F9780D;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

/* Actif ou hover */
.pagination .current,
.pagination a:hover {
    background-color: #F9780D;
    color: white;
    border-color: #F9780D;
}


/* --- Style de la page de détails de l'événement --- */

.event-details-page {
    max-width: 350px;
    margin: 40px auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #F9780D;
}

.event-details-page h1 {
    text-align: center;
    color: #F9780D;
    font-size: 2rem;
    margin-bottom: 20px;
}

.event-image-full {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.details-section {
    line-height: 1.6;
    word-break: break-word;
}

.details-section p {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.details-section strong {
    color: #333;
}

.event-stats {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.event-stats p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

/* Styles pour le bouton J'aime / Je n'aime plus */
/* Style du conteneur du bouton et du compteur */
.like-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px; /* Ajoutez un peu d'espace avec le contenu au-dessus */
}

/* Style du bouton "J'aime" (qui contient l'icône) */
.like-btn {
    display: flex; /* Permet de centrer l'icône */
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-color: transparent;
    color: #666;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.like-btn:hover {
    border-color: #F9780D;
    color: #F9780D;
}

.like-btn.liked {
    background-color: #F9780D;
    color: white;
    border-color: #F9780D;
}

.like-btn.liked:hover {
    background-color: #d87a2e;
    border-color: #d87a2e;
}

/* Style du compteur de likes */
.like-count {
    font-size: 1.2rem;
    font-weight: bold;
    color: #F9780D;
}

.participants-list {
    margin-top: 10px;
    list-style: disc;
    padding-left: 20px;
    color: #555;
}

.participants-list li {
    margin-bottom: 5px;
}

/* Conteneur pour centrer les boutons d'action */
.admin-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; /* Marge pour l'espacement */
}

/* Styles pour les icônes de la poubelle et de l'édition */
.bin-icon,
.edit-icon,
.return-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
}

.bin-icon:hover,
.edit-icon:hover,
.return-icon:hover {
    transform: scale(1.1);
}

.square-btn {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.square-btn-red {
    background-color: #dc3545;
}

.square-btn-red:hover {
    background-color: #c82333;
}

.square-btn-yellow {
    background-color: #ffc107;
}

.square-btn-yellow:hover {
    background-color: #e0a800;
}

.square-btn-gray {
    background-color: #6c757d;
}

.square-btn-gray:hover {
    background-color: #5a6268;
}

/* Styles pour la notification */
#notification-container {
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification {
    padding: 10px;
    border-radius: 10px;
    /* font-weight: bold; */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.6s ease-in-out;
    opacity: 0;
    transform: translateY(-50px);
    background-color: #fff;
    border: 1px solid #ddd;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(-50px);
}

.notification.success {
    color: #F9780D;
    border: 2px solid #F9780D;
}

.notification.error {
    color: #E74C3C;
}

/* Style du formulaire de création d'événement */
.h1create-event {
    font-size: 1.5rem;
    margin: 20px 42px;
}

.create-event-form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.create-event-form h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

/* Groupes de champs du formulaire */
.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group input[type="number"],
.form-group input[type="file"],
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input[type="text"]:focus,
.form-group input[type="datetime-local"]:focus,
.form-group input[type="number"]:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.form-group textarea {
    resize: vertical;
    min-height: 120px;
}

.btn {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #F28C38;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #F9780D;
}

/* Pour le champ checkbox */
.form-group input[type="checkbox"] {
    margin-right: 10px;
}

/* --- Footer --- */
.footer {
    background-color: #1E1E1E;
    color: #D3D3D3;
    border-top: 2px solid #F9780D;
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
}

@media (min-width: 768px) {
    /* Cache le menu burger sur PC */
    .menu-burger, .close-menu {
        display: none;
    }

    .event-details-page {
    max-width: 750px;
}

    /* Cache le menu mobile (le plein écran) sur PC */
    .navbar-links {
        display: none;
    }

    /* Affiche le menu desktop sur PC */
    .navbar-links-desktop {
        display: flex;
        position: static;
        flex-direction: row;
        gap: 20px; /* Ajoute un espace entre les liens */
        align-items: center;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
    }

    /* Styles des liens du menu desktop */
    .navbar-links-desktop .nav-link {
        font-size: 1rem;
        color: #F9780D;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    /* Ajuste les styles du conteneur parent */
    .header-right-menu {
        position: static;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .navbar-links-desktop .btn-login {
    border: 2px solid #F9780D;
    color: #F9780D;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar-links-desktop .btn-login:hover {
    background-color: #F9780D;
    color: white;
}

.navbar-links-desktop .btn-register {
    background-color: #F9780D;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.navbar-links-desktop .btn-register:hover {
    background-color: #d86600;
}
}
